---
layout  : name
title   : Home
section : Home
---

{% for post in paginator.posts %}
  <div class="post">
    <h1>[{{ post.date | date: "%B %d, %Y" }}] <a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p>
      {{ post.content | strip_html | truncatewords: 100 }}
    </p>
    <a id="more" href="{{ post.url }}">Read more &rarr;</a>
    
  <div align="right"> 
     {% for category in post.categories  %}
        <a href="/{{ category }}.html"> {{ category }}</a>
     {% endfor %} 
	| <a href="{{ post.url }}#disqus_thread">View Comments</a>
  </div>
  
  <p></p>
  </div>
{% endfor %}

<div align="center">
<strong>
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">&laquo;</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}">&laquo;</a>
    {% endif %}
  {% else %}
    &laquo;
  {% endif %}
</strong>&nbsp;This is the page <strong>{{ paginator.page }}</strong> out of <strong>{{ paginator.total_pages }}</strong>.<strong>&nbsp;
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/">&raquo;</a>
  {% else %}
    &raquo;
  {% endif %}
</strong>
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'rosebery'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
