<h1>
  <a href="/" title="Rue Tuscany"><img src="/images/header.jpg" border="0"></a>
</h1>

<ul class="nav">
  <li><a href="http://twitter.com/jliyi"><img src="/images/twit.jpg" border="0"></a></li>
  <li><a class="archives" href="/archives">Archives</a></li>
  <li><a class="feed" href="/atom.xml"><img src="/images/rss.png" border="0"></a></li>
  <li><a class="coursework" href="/coursework">Coursework</a></li>
  <li><a class="about" href="/about">About</a></li>
  <li><a href="http://leecarrot.tumblr.com"><img src="/images/tumblr.jpg" border="0"></a></li>
  
 
  <li><img src="/images/submenu.png" border="0"></li>
  <li><a href="http://www.delicious.com/leecarrot">Delicious</a></li>
  <li><a href="http://ca.linkedin.com/pub/jennifer-lee/29/bb0/735">LinkedIn</a></li-->
  
  <li> 
  <div id="site-search">
  <form method="get" action="http://www.google.com/search">
  <input id="search-text" type="text" id="search" class="ti" name="q" value="" size="19" />
  <input type="hidden" name="q" value="site:http://www.rue-tuscany.com" />
  <input type="submit" value="Search" />
  </form>
  </div>
  </li>
</ul>
