<h1>
  <a href="/" title="Train of Thoughts to Tuscany">JENNIFER LEE</a>
</h1>

<ul class="nav">
  <li><a class="archives" href="/archives">Archives</a></li>
  <li><a class="coursework" href="/coursework">Coursework</a></li>
  <li><a class="about" href="/about">About</a></li>
  <li><a class="feed" href="/atom.xml"><img src="/images/rss2.png" border="0"></a></li>
  
  <li><img src="/images/submenu.png" border="0">
  <div id="site-search">
  <form method="get" action="http://www.google.com/search">
  <input id="search-text" type="text" id="search" class="ti" name="q" value="" size="14" />
  <input type="hidden" name="q" value="site:http://www.rue-tuscany.com" />
  <input type="submit" value="Search" />
  </form>
</div> </li>
</ul>
