---
layout: default
top: Jennifer Lee
---

<div id="header">
	{% include nav.html %}
</div>

<div id="page">
	{{ content }}

<div class="section">
<h1><a href="http://delicious.com/leecarrot">My Delicious Bookmarks</a></h1>
<script type="text/javascript" src="http://feeds.delicious.com/v2/js/leecarrot?title=My%20Delicious%20Bookmarks&icon=m&count=5&sort=date&tags&extended"></script>
</div>

<div class="section">
<h1>Google Reader</h1>
<script type="text/javascript" src="http://www.google.com/reader/ui/publisher-en.js"></script>
<script type="text/javascript" src="http://www.google.com/reader/public/javascript/user/01499452825551485594/state/com.google/broadcast?n=5&callback=GRC_p(%7Bc%3A%22gray%22%2Ct%3A%22leecarrot's%20shared%20items%22%2Cs%3A%22true%22%2Cn%3A%22true%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>
</div>

</div>
