---
layout: default
top: Jennifer Lee
---

<div id="header">
  {% include nav.html %}
</div>

<div id="page">
  {{ content }}
</div>

<div id ="pageb">
 <span class="contact">
          <p>      
          jennifer_lee@carleton.ca <br />
          Skype: leecarrot <br />
          <a title="Delicious" target="_blank" href="http://www.delicious.com/leecarrot">delicious.com/leecarrot</a><br />
          </p>
    </span>
    
   <span class="contactn">
        <p>
          <a title="Twitter" target="_blank" href="http://twitter.com/jliyi">twitter.com/jliyi</a><br />
          <a title="Github" target="_blank" href="http://github.com/leecarrot">github.com/leecarrot</a><br />
	  <a title="LinkedIn" target="_blank" href="http://ca.linkedin.com/pub/jennifer-lee/29/bb0/735">LinkedIn</a> 
        </p>
    </span>
    
    <span class="yijing">
       <p>
       <a title="Hexagram 16" target="_blank" href="http://www.yijing.nl/i_ching/hex_1-16/hex_e_16.htm"><img src="/images/hex16-elephant.gif" border="0"></a> </p>
    </span>
</div>
