---
layout: default
top: Jennifer Lee
---

<div id="header">
  {% include nav.html %}
</div>

<div id="page">

<div class="category">
<span class="cat">
    <a href="/well-being.html">well-being ({{ site.categories.well-being | size }})</a>
    <a href="/random.html">random ({{ site.categories.random | size }})</a>     
    <a href="/website.html">website ({{ site.categories.website | size }})</a>
    <a href="/privacy.html">privacy ({{ site.categories.privacy | size }})</a>
    <a href="/facts.html">facts ({{ site.categories.facts | size }})</a>
    <a href="/astrology.html">astrology ({{ site.categories.astrology | size }})</a>
    <a href="/productivity.html">productivity ({{ site.categories.productivity | size }})</a>
    <a href="/thesis.html">thesis ({{ site.categories.thesis | size }})</a>
    <a href="/inspiration.html">inspiration ({{ site.categories.inspiration | size }})</a>
    <!--a href="/books.html">books ({{ site.categories.books | size }})</a-->
</span>
</div>

    <h1>Category: {{ page.title }}</h1>
    {{ content }}
</div>

<!-- Contact Information -->
<div id ="pageb">
 <span class="contact">
          <p>      
          leecarrot@gmail.com <br />
	  Skype me: leecarrot <br />
          <a title="Delicious" target="_blank" href="http://www.delicious.com/leecarrot">delicious.com/leecarrot</a><br />
 	  <a title="LinkedIn" target="_blank" href="http://ca.linkedin.com/pub/jennifer-lee/29/bb0/735">LinkedIn</a>
          </p>
    </span>
    
   <span class="contactn">
        <p>
          <a title="Twitter" target="_blank" href="http://twitter.com/jliyi">twitter.com/jliyi</a><br />
          <a title="Github" target="_blank" href="http://github.com/leecarrot">github.com/leecarrot</a><br />
	  <a title="Tumblr" target="_blank" href="http://www.leecarrot.tumblr.com">leecarrot.tumblr.com</a><br />
	  <a title="Google Reader" target="_blank" href="http://www.google.com/reader/shared/leeCarrot">shared items</a><br />
        </p>
    </span>
    
    <span class="yijing">
       <p>
       <a title="Rdio" target="_blank" href="http://www.rdio.com/#/people/leecarrot/collection/albums/">Currently listening</a><br />
       <a title="Flickr" target="_blank" href="http://www.flickr.com/photos/16714744@N06/">Flickr: cipto185<a/><br />
       <a title="Hexagram 16" target="_blank" href="http://www.yijing.nl/i_ching/hex_1-16/hex_e_16.htm"><img src="/images/hex16-elephant.gif" border="0"></a> </p>
    </span>
</div>
