---
layout: default
top: Jennifer Lee
---

<div id="header">
  {% include nav.html %}
</div>

<div id="page">

<div class="category">
<span class="cat">
    <a href="/well-being.html">well-being ({{ site.categories.well-being | size }})</a>
    <a href="/random.html">random ({{ site.categories.random | size }})</a>     
    <a href="/website.html">website ({{ site.categories.website | size }})</a>
    <a href="/privacy.html">privacy ({{ site.categories.privacy | size }})</a>
    <!--a href="/books.html">books ({{ site.categories.books | size }})</a>
    <a href="/facts.html">facts ({{ site.categories.facts | size }})</a>
    <a href="/astrology.html">astrology ({{ site.categories.astrology | size }})</a-->
</span>
</div>

    <h1>Category: {{ page.title }}</h1>
    {{ content }}
</div>
